import numpy as np
from scipy.optimize import linprog
c = np.array([0, 0, -1, -1])
A_ub = np.array([[3, 1, 0, 0],[4, 5, 0, 0],[1, 5, 0, 0]])
b_ub = np.array([3, 20, 10])
A_eq = np.array([[1, 1, -1, 0],[-2, 3, 0, -1]])
b_eq = np.array([0, 0])
x1_bounds = (0, None)
x2_bounds = (0, None)
x3_bounds = (0, None)
x4_bounds = (0, None)
bounds = [x1_bounds, x2_bounds, x3_bounds, x4_bounds]
result = linprog(c, A_ub=A_ub, b_ub=b_ub, A_eq=A_eq, b_eq=b_eq, bounds=bounds)
print(result)
